# ignore unused files
.github
*.md

# ignore local machine build files
node_modules
dist
*.local

# Ignore text editor / IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?