@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
     font-family: 'Inter', sans-serif;
}

#root {
     padding-left: 0;
     padding-right: 0;
}

hr {
     border: 0 !important;
     height: 1.5px !important;
     background: rgba(112, 145, 245, 0.5) !important;
}